PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/LinkMind

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

# Email (optional for notifications)

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ilingasolange@gmail.com
SMTP_PASS=zeno qene nlad iqjq

# App
APP_NAME=LinkMind
FRONTEND_URL=http://localhost:3000

//sms
LAM_ACCOUNT_ID=solangeilinga@gmail.com
LAM_PASSWORD=@Kaoulatou1